<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="peanutSection" type="Peanut.PeanutSection, Peanut"/>
  </configSections>
  <peanutSection>
    <assemblies>
      <clear/>
      <add assembly="OutputObject"/>
    </assemblies>
  </peanutSection>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <clear/>
        <add namespace="Smark.Core"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="Peanut"/>
        <add namespace="OutputObject"/>
        <add namespace="OutputObject.Controller"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="peanut" type="Peanut.ActionModule,Peanut"/>
    </httpModules>
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
