<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="smarkdata" type="Smark.Data.SmarkDataSection,Smark.Data"/>
    <section name="peanutSection" type="Peanut.PeanutSection, Peanut"/>
  </configSections>
  <smarkdata>
    <Connection>
      <add name="0" type="Smark.Data.MSAccess,Smark.Data" connectionstring="Provider=Microsoft.Jet.OleDb.4.0;Data Source=$app$App_Data\Northwind.mdb"/>
    </Connection>
    <Assembly>
      <clear/>
      <add type="NorthWind.DBModule"/>
    </Assembly>
  </smarkdata>
  <peanutSection>
    <assemblies>
      <clear/>
      <add assembly="NorthWind.WebApp"/>
    </assemblies>
  </peanutSection>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <pages>
      <namespaces>
        <clear/>
        <add namespace="Smark.Core"/>
        <add namespace="System.Collections.Generic"/>
        <add namespace="Peanut"/>
        <add namespace="Peanut.Html"/>
        <add namespace="NorthWind.WebApp"/>
        <add namespace="NorthWind.WebApp.Controller"/>
        <add namespace="NorthWind.DBModule"/>
      </namespaces>
    </pages>
    <httpModules>
      <add name="peanut" type="Peanut.ActionModule,Peanut"/>
    </httpModules>
  </system.web>
  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
